<div class="button-bar">
    <button mat-flat-button color="primary" primary aria-labelledby="New" (click)="ded.openSingleCreationDialog()">
        <mat-icon>add</mat-icon>
        New
    </button>
    <button mat-flat-button color="primary" primary aria-labelledby="Import en masse">
        <mat-icon>add</mat-icon>
        Import en masse
    </button>
    <button mat-flat-button color="primary" primary aria-labelledby="Refresh" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        Refresh
    </button>
</div>

<app-data-entry-display #ded [dataSourceProducer]="dataSource" [backendChangedCb]="refresh">

</app-data-entry-display>