.headline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-bar {
    width: 80%;
}
.headline-button {
    width: 20%;
    height: 100%;
}
.error-tooltip {
    white-space: break-spaces;
}