.button-bar {
    padding: 10px 10px 0px 20px;
    button {
        margin: 10px
    }
}

.mat-column-Titel {
    font-size: 20px;
    width: 20%
}

.mat-column-Description {
    font-size: 20px;
    width: 80%
}

mat-row.mat-mdc-row{
    &:hover{
        background-color: lightgray;
    }
    border-bottom: black 2px;
}

.border_style {
    th {
        font-weight: bold;
        border-bottom: black 2px;
    }
}

.mdc-data-table__cell {
    border-width: 0px;
}